.row{
    padding: 10px;
}
div{
    background-color: rgb(132, 132, 132);
    text-align: center;
}

/*etiqueta foto de perfil*/
@media(min-width: 576px){
    #fotoperfil{
       position: absolute; 
       width: 15%;
       border-radius: 100%;
       box-shadow: 3px 3px 3px rgb(37, 37, 37);
       left: 3%;
       top: 330px;
    }
}
@media(max-width: 575px){
    #fotoperfil{
       position: absolute; 
       width: 35%;
       border-radius: 100%;
       box-shadow: 3px 3px 3px rgb(167, 167, 167);
       left: 33%;
       top: 330px;
    }
}
   
/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 30%;
} 